<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link th:href="@{/css/footer.css}" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
</head>
<body>

<footer th:fragment="footer">
  <div class="content_footer">
    <div>
      <img class="logo" src="/images/logo.jpg" alt="">
      <div class="icons">
        <a href="#" class="icon"><i class="fa fa-facebook"></i></a>
        <a href="#" class="icon"><i class="fa fa-instagram"></i></a>
      </div>

    </div>

    <div>
      <h3>Contact us</h3>
      <ul class="contact">
        <li><a th:href="@{contact-form}">Contact Form</a></li>
        <li>GSM: +359820324143</li>
        <li>e-mail: modern_kids@gmail.com</li>
        <li>Every day (from 8.00 to 18.00)</li>
      </ul>
    </div>
  </div>

  <p>
    © 2023 Modern Kids
  </p>

</footer>

</body>
</html>