<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Type Product</title>
</head>
<body>
<main>
    <h1>Add Type Product</h1>
    <form th:action="@{/add-type-product}" th:method = "POST" th:object="${addTypeProductBindingModel}">
        <div>
            <div>
                <label for="typeProduct">Type product</label>
            </div>
            <div>
                <input id="typeProduct" type="text" name="name"  th:field="*{name}">
            </div>
            <div><input type="submit" value="Add"></div>
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>Type Products</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${types.isEmpty()}">
                <td>No product types found</td>
            </tr>
            <tr th:unless="${types.isEmpty()}" th:each="type: ${types}">
                <td th:text="${type.getName()}"></td>
            </tr>
        </tbody>
    </table>
</main>
</body>
</html>