<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/authentication-style.css}" rel="stylesheet">
    <title>Modern kids</title>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>
    <img class="img" src="/images/register.png" alt="">

    <div>
        <h1 class="title">Delivery data</h1>
        <form   th:action="@{/delivery-data}"
                th:method="POST"
                th:object="${sessionUserBindingModel}">


            <div class="user-data">
                <div>
                    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First name">
                    <small th:if="${#fields.hasErrors('firstName')}"
                           th:errors="*{firstName}" ></small>
                </div>



                <div>
                    <input type="text" id="lastName" th:field="*{lastName}" placeholder="Last name">
                    <small th:if="${#fields.hasErrors('lastName')}"
                           th:errors="*{lastName}" >Last name error msg</small>
                </div>

                <div>
                    <input th:type="email" th:id="email" th:field="*{email}" placeholder="Email">
                    <small th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}" >Email error msg</small>
                </div>

                <div>
                    <input type="tel" th:id="phoneNumber" th:field="*{phoneNumber}" placeholder="Phone number">
                    <small th:if="${#fields.hasErrors('phoneNumber')}"
                           th:errors="*{phoneNumber}" >Phone number error msg</small>
                </div>

                <div>
                    <input type="text" id="address" th:field="*{address}" placeholder="Address">
                    <small th:if="${#fields.hasErrors('address')}"
                           th:errors="*{address}" >Address name error msg</small>
                </div>
            </div>

            <div class="btn_submit">
                <button type="submit">BUY</button>
            </div>

        </form>
    </div>
</main>

</body>
</html>