<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/card-style.css}" rel="stylesheet" />
    <link th:href="@{/css/view-products-style.css}" rel="stylesheet">
    <link th:href="@{/css/footer-style.css}" rel="stylesheet"/>
<!--    <script th:src="@{/js/quantity_control.js}"></script>-->
    <title>Products</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>

<main>
    <section class="filter">
<!--         <form  th:action="@{/view-products/{categoryId}/{typeId}(categoryId=${categoryID}, typeId=${typeID})}" method="GET"-->
<!--              th:object="${filterProductBindingModel}" id="filter-form"> -->

<!--            <input type="submit" value="Filter">-->
<!--            <button type="submit" form="filter-form" id="makeClear" name="makeClear" th:value="true">Clear all filters</button>-->
        <div th:if="${typeID == null}">
<!--            <a th:href="@{/view-products/{categoryId}(categoryId=${categoryID})}" th:text="'havent: ' + ${typeID}">Havent typeId</a>-->
            <form  th:action="@{/view-products/{categoryId}(categoryId=${categoryID})}" method="GET"
                       th:object="${filterProductBindingModel}" id="filter-form">
                <article class="brands">
                    <p>BRAND</p>
                    <fieldset>
                        <div class="brand" th:each="brand: ${brands}">
                            <input type="checkbox" th:id="${brand}" class="checkbox"  th:field="*{brands}"
                                   th:text="${brand}"
                                   th:value="${brand}">
                            <!--                            th:[checked] ="${filterProductBindingModel.getBrands().contains(brand)} ? 'true' : 'false'"-->
                            <!--                          >-->
                            <!--                    <label th:for="${brand}" th:text="${brand}">ZARA</label>-->
                            <!--                    <label th:for="${brand}" class="quantity">4</label>-->
                            <!--                    <input th:each="age: ${ages}" id="productAges"-->
                            <!--                           type="checkbox" name="ages" th:field="*{ages}"-->
                            <!--                           th:text="${age.getAge()}"-->
                            <!--                           th:value="${age.getAge()}">-->
                        </div>
                    </fieldset>
                </article>

                <article class="price">
                    <p>PRICE</p>
                    <div class="range">
                        <div class="range-slider">
                            <span class="range-selected"></span>
                        </div>
                        <div class="range-input">
                            <input type="range" class="min" min="10" max="200" value="10" step="1" >
                            <input type="range" class="max" min="10" max="200" value="200" step="1" >
                        </div>
                        <div class="range-price">
                            <input type="number" id="minPrice1" name="minPrice" th:value="10" readonly>
                            <input type="number" id="maxPrice1" name="maxPrice" th:value="200" readonly >
                            <!--                    <input type="hidden" th:value="${product.getId()}" id="productId" name="productId" >-->
                        </div>
                    </div>
                    <script th:src="@{/js/price-range.js}"></script>
                </article>

                <article class="ages">
                    <p>AGE</p>
                    <fieldset>
                        <div class="age" th:each="age: ${ages}">
                            <input type="checkbox" th:id="${age.age}" class="checkbox" th:field="*{ages}"
                                   th:text="${age.age}"
                                   th:value="${age.age}">
                            <!--                    <label th:for="${age.age}" class="age-name" th:text="${age.age}">0 to 3 months</label>-->
                            <!--                    <label th:for="${age.age}" class="quantity">4</label>-->
                        </div>
                    </fieldset>
                </article>

                <article class="origins">
                    <p>ORIGIN</p>
                    <fieldset>
                        <div class="origin" th:each="origin: ${origins}">
                            <input type="checkbox" th:id="${origin}" class="checkbox" th:field="*{origins}"
                                   th:text="${origin}"
                                   th:value="${origin}">
                            <!--                    <label th:for="${origin}" th:text="${origin}">Spain</label>-->
                            <!--                    <label th:for="${origin}" class="quantity">4</label>-->
                        </div>
                    </fieldset>
                </article>
                <div class="buttons">
                    <input class="btn" type="submit" value="Filter">
                    <button class="btn" type="submit" form="filter-form" id="makeClear" name="makeClear" th:value="true">Clear all filters</button>
                </div>
                </form>
        </div>
        <div th:if="${typeID != null}">
<!--                            <a th:href="@{/view-products/{categoryId}/{typeId}(categoryId=${categoryID}, typeId=${typeID})}" th:text="'have: ' + ${typeID}">Havent</a>-->
            <form  th:action="@{/view-products/{categoryId}/{typeId}(categoryId=${categoryID}, typeId=${typeID})}" method="GET"
                   th:object="${filterProductBindingModel}">

                <article class="brands">
                    <p>BRAND</p>
                    <fieldset>
                        <div class="brand" th:each="brand: ${brands}">
                            <input type="checkbox" th:id="${brand}" class="checkbox"  th:field="*{brands}"
                                   th:text="${brand}"
                                   th:value="${brand}">
                            <!--                            th:[checked] ="${filterProductBindingModel.getBrands().contains(brand)} ? 'true' : 'false'"-->
                            <!--                          >-->
                            <!--                    <label th:for="${brand}" th:text="${brand}">ZARA</label>-->
                            <!--                    <label th:for="${brand}" class="quantity">4</label>-->
                            <!--                    <input th:each="age: ${ages}" id="productAges"-->
                            <!--                           type="checkbox" name="ages" th:field="*{ages}"-->
                            <!--                           th:text="${age.getAge()}"-->
                            <!--                           th:value="${age.getAge()}">-->
                        </div>
                    </fieldset>
                </article>

                <article class="price">
                    <p>PRICE</p>
                    <div class="range">
                        <div class="range-slider">
                            <span class="range-selected"></span>
                        </div>
                        <div class="range-input">
                            <input type="range" class="min" min="10" max="200" value="10" step="1" >
                            <input type="range" class="max" min="10" max="200" value="200" step="1" >
                        </div>
                        <div class="range-price">
                            <input type="number" id="minPrice" name="minPrice" th:value="10" readonly>
                            <input type="number" id="maxPrice" name="maxPrice" th:value="200" readonly >
                            <!--                    <input type="hidden" th:value="${product.getId()}" id="productId" name="productId" >-->
                        </div>
                    </div>
                    <script th:src="@{/js/price-range.js}"></script>
                </article>

                <article class="ages">
                    <p>AGE</p>
                    <fieldset>
                        <div class="age" th:each="age: ${ages}">
                            <input type="checkbox" th:id="${age.age}" class="checkbox" th:field="*{ages}"
                                   th:text="${age.age}"
                                   th:value="${age.age}">
                            <!--                    <label th:for="${age.age}" class="age-name" th:text="${age.age}">0 to 3 months</label>-->
                            <!--                    <label th:for="${age.age}" class="quantity">4</label>-->
                        </div>
                    </fieldset>
                </article>

                <article class="origins">
                    <p>ORIGIN</p>
                    <fieldset>
                        <div class="origin" th:each="origin: ${origins}">
                            <input type="checkbox" th:id="${origin}" class="checkbox" th:field="*{origins}"
                                   th:text="${origin}"
                                   th:value="${origin}">
                            <!--                    <label th:for="${origin}" th:text="${origin}">Spain</label>-->
                            <!--                    <label th:for="${origin}" class="quantity">4</label>-->
                        </div>
                    </fieldset>
                </article>
                <div class="buttons">
                    <input class="btn" type="submit" value="Filter">
                    <button class="btn" type="submit" form="filter-form" id="makeClea" name="makeClear" th:value="true">Clear all filters</button>
                </div>
            </form>
        </div>
        </form>
    </section>
    <section class="cards">
        <article class="card" th:each="product: ${products}">
            <a th:href="@{/curr-product/{productId}(productId = ${product.id})}">
<!--            <form th:action="@{/curr-product/{productId}(productId = ${product.id})}" th:method="GET">-->
                <!--            <input type="hidden" th:value="${product.getId()}" id="productId" name="productId" >-->
                <div class="thumbnail">
                    <img class="thumbnail_img" th:src="'/images/' + ${product.getImageURL()}">
                    <input type="hidden" th:value="${product.getImageURL()}" id="imageURL" name="imageURL" >
                </div>

                <div class="content">
                    <h2 class="brand" th:text="${product.getBrand()}"></h2>

                    <h2 class="category" th:text="${product.getName()}"></h2>
                    <input type="hidden" th:value="${product.getName()}" id="name" name="name" >

                    <h4 class="price" th:text="${product.getPrice()} + ' BGN'"></h4>
                    <input type="hidden" th:value="${product.getPrice()}" id="price" name="price" >
                    <ul class="sizes">
                        <li th:each="age1: ${product.getAges()}">
                            <span th:text="${age1}"  ></span>
                        </li>
                    </ul>

                    <!--            <input th:each="age1: ${product.getAges()}"-->
                    <!--                    th:field="*{age}"-->
                    <!--                    type="radio" name="age"-->
                    <!--                    th:text="${age1}"-->
                    <!--                    th:value="${age1}">-->
                    <!--        <div>-->
                    <!--            <a class="minusButton" href="" th:pid="${product.count}"><b>-</b></a>-->
                    <!--            <input type="text"  value="1" id="quantityInput" th:field="*{quantity}">-->
                    <!--            <a class="plusButton" href=""  th:pid="${product.count}" ><b>+</b></a>-->
                    <!--        </div>-->
<!--                    <input type="submit" value="view">-->
                </div>
            </a>
<!--            </form>-->
        </article>
    </section>

</main>
<div th:replace="~{fragments/footer}"></div>
</body>

</html>
